{% block stylesheets %}
    {{ encore_entry_link_tags('global') }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}

<footer class="flex-rw-all">
    <div class="flex-cols-three">
        <div>
            <h4 class="footer-list-header">A propos de FriendsBet</h4>
            <ul class="footer-list">
                <li><a href='#' class="footer-list-anchor">Découvrez l'équipe</a></li>
                <li><a href='#' class="footer-list-anchor">L'histoire du site</a></li>
                <li><a href='#' class="footer-list-anchor">Participer au développement</a></li>
                <li><a href='#' class="footer-list-anchor">Nous rejoindre</a></li>
                <li><a href='#' class="footer-list-anchor">Niquer des mères</a></li>
            </ul>
        </div>
        <div>
            <h4 class="footer-list-header">Améliorer ses paris</h4>
            <ul class="footer-list">
                <li><a href='#' class="footer-list-anchor">Fonctionnement du site</a></li>
                <li><a href='#' class="footer-list-anchor">L'équipe 21</a></li>
            </ul>
        </div>
        <div>
            <h4 class="footer-list-header">ALED</h4>
            <ul class="footer-list">
                <li><a href="{{ path('home.contact') }}" class="footer-list-anchor">Nous contacter</a></li>
                <li><a href='#' class="footer-list-anchor">FAQ</a></li>
            </ul>
        </div>
    </div>
    <div>
        <section class="footer-social-section">
            <span class="footer-social-overlap">
                Jouez avec vos amis
            </span>
            <hr />
        </section>
    </div>
    <div>
        <section class="footer-bottom-section">
            <div class="footer-bottom-wrapper">
                <i class="fa fa-copyright" role="copyright"></i> 2020 Vilette/Renard
                <address class="footer-address" role="company address">DTC</address>
                <span class="footer-bottom-rights">- Tous droits réservés - </span>
            </div>
            <div class="footer-bottom-wrapper">
                <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Réglement</a>
                <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Vie privé</a>
            </div>
        </section>
    </div>
</footer>