{% block body %}

<style type="text/css">
.topnav {
	text-align: center;
	background-color: #e1fcff;
	overflow: hidden;
}

.topnav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

</style>

<div class="topnav">

<h2>Test</h>

</div>

{% endblock %}