@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "modules/vars";
@import "modules/app";
@import "modules/card";
@import "modules/link";
@import "modules/parallax";
@import "modules/buttons";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import "modules/title";

:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #e1fcff;
  --heading-color: #292922;
  --containermain : #4468c6;
  --matchbg: #e1fcff;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --containermain: #222239;
  --matchbg: black;
}

body {
  font-family: 'Alata', sans-serif;
  background-color: var(--bg-color);
  color: var(--heading-color);

  h1,h2{
    color: var(--heading-color);
  }

}