.container-marged {
  margin-top: 50px;
}

.container-colored {
  background-color: $mainColor;
  padding: 50px 0 100px 0;
}

.container-padding {
  padding: 100px 0;
}

.main-logo {
  width: 350px;
  padding-right: 50px;
  height: auto;
}

.betButton {
  float: right;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.login-btn {
  padding: 13px 20px;
  background-color: #fdbb28;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 14px;
  border: 1px solid #fdbb28;

  &:hover {
    border: 1px solid #fdbb28;
    background-color: #fff;
    color: #fdbb28;
  }
}

.navbar .nav-link {
  color: #444343 !important;
}

.navbar .button-collapse {
  padding-top: 1px;
}

.card-intro .card-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0 !important;
}

.event-visu {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 20px;
  height: 20px;
  border-radius: 0 !important;
  //background: url("../../../public/images/logo2.png");
}

.card-intro .card-body h1 {
  margin-bottom: 0;
}

.card-intro {
  margin-top: 10px;
}

@media (max-width: 450px) {
  .card-intro {
    margin-top: 56px;
  }
}

@media (min-width: 1441px) {
  .card-intro {
    padding-left: 0 !important;
  }
}

.head {
  margin-top: 2px;
  margin-bottom: 50px;
  border: black solid 2px;
}

.head-body {
  margin-top: 5px;
  margin-bottom: 50px;
  align-content: center;
  font-style: italic;
}

.flex-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-container {
  flex: 1;
}