.container-marged {
  margin-top: 50px;
}

.container-colored {
  background-color: $mainColor;
  padding: 50px 0 100px 0;
}

.container-padding {
  padding: 100px 0;
}

.main-logo {
  width: 350px;
  height: auto;
}

.betButton {
  float: right;
}

.login-btn {
  padding: 13px 20px;
  background-color: #fdbb28;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 14px;
  border: 1px solid #fdbb28;

  &:hover {
    border: 1px solid #fdbb28;
    background-color: #fff;
    color: #fdbb28;
  }
}

.group_name {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Pangolin', cursive;
}
