li {
  color: $white;
  text-decoration: none;
  list-style: none;
}

a {
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  color: black;  
}

.rounded {
  &:hover {
    color: $mainColor;
  }
}

.dropdown-user {
  font-size: small;

}