{% extends 'base.html.twig' %}

{% block title %}Ajouter un match{% endblock %}

{% block body %}
    {{ include('app/home/navtest.html.twig') }}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
