<nav class="navbar navbar-expand-md navbar-light bg-light">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#"Accueil <span class="sr-only">Accueil</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sport
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Football</a>
        <a class="dropdown-item" href="#">Tennis</a>
        <a class="dropdown-item" href="#">Basketball</a>
        <div class="dropdown-divider"></div>
      </div>
    </li>
  </ul>
</nav>